.module_planner {
    /* padding: 1em 1em 0 1em; */
    height: 100%;
    overflow: hidden;
}

/* .module_planner .activity_box {
    border: 1px solid #e0e0e0;
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    text-align: center;
    border-radius: 6px;
    flex-direction: column;
} */

/* Tabs */
.module_planner .tabs_container {
    background: #fff;
    height: 100%;
}

.module_planner .tabs_container .tabs_header .tabs::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 25px;
    height: 5px;
    background: #888;
    border-radius: 10px;
}

.module_planner .tabs_container .tabs_header .tabs.active_tabs {
    color: #4439f1;
    border: 1px solid #bbb;
    border-bottom: none;
    box-shadow: 0px 1px 0px #fff;
}

.module_planner .tabs_container .tabs_header .tabs.active_tabs::before {
    background: #4439f1;   
}

.module_planner .tabs_container .tabs_body {
    padding: 10px 5px;
    position: relative;
    max-height: 81vh;
    height: 100%;
}
.module_planner .tabs_container .tabs_body>* {
    height: 100%;
}
.module_planner .tabs_body .col-9 {
    border: 1px solid gray;
}

