.course_planner_wrapper {}

.course_planner_wrapper .planner_header {}

.course_planner_wrapper .planner_header .planner_item_list  {}

.course_planner_wrapper .planner_header .planner_item_list .planner_itm.active,
.course_planner_wrapper .planner_header .planner_item_list .planner_itm:hover{
    box-shadow: inset 0 -2px #6d6e6f;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.course_planner_wrapper .planner_header .planner_item_list .planner_itm.active {
    background-color: rgba(13,110,253,.25);
}

.course_planner_wrapper .course_planner_container {
    min-height: calc(100vh - var(--topNavBarHeight) - 46px);
    display: flex;
    flex-direction: row;

    padding: 4px 0;
}


/* Activity Container */
.course_planner_container .activity_list_wrapper {
    display: inline-block;
    height: 100%;
    scroll-margin: 8px;
    vertical-align: top;
    white-space: nowrap;

    flex: 0 0 auto;
    width: 32%;
}

.course_planner_container .activity_list_wrapper .activity_list_content {
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: normal;
    width: 100%;
    max-height: 100%;
    border: 1px solid black;
    border-radius: 6px;
}

.activity_list_content .activity_list_header {
    display: flex;
    justify-content: space-between;
    padding: 14px 4px 14px 10px;
    align-items: center;
}

.activity_list_content .activity_list_header h6{
    margin: 0;
    font-family: monospace;
    color: black;
    text-align: center;
    font-weight: 600;
}

.activity_list_content .activity_list_body {
    overflow-y: auto;
    height: 100%;
    background-color: #c9d6f7a3;
}

.activity_list_content .activity_list_body .activity_time_list {
    margin: 0 10px 0 0;
    padding: 10px 0 0 0;
    min-width: 60px;
    list-style-type: none;
}

.activity_list_content .activity_list_body .activity_list_cards {
    list-style: none;
    min-height: calc(100vh - var(--topNavBarHeight) - 160px );
    margin: 0;
}


/* ==================== Module Session Tabs ====================*/
.course_planner_container .activity_list_tabs {
    flex: 0 0 auto;
    width: 74%;
    padding-left: 15px;
}

.course_planner_container .activity_list_tabs .activity_tabbed_round {
    display: flex;
    flex-direction: column;
}

/* Header */
.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header {
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    border-bottom: 3px solid #BDC3C7;
    overflow: hidden;
    transition: border 250ms ease;
}

.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    padding-left: 48px;
    list-style-type: none;

    display: flex;
    flex-direction: row;
}

.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul li {
    display: block;
    padding: 10px 24px 8px;
    margin-right: 54px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;
    transition: all 250ms ease;
    
    background: #FFF;
    color: #666;
}

.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul li::before,
.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul li::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 44px;
    transition: all 250ms ease;

    background: #FFF;
    color: #666;
}

.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul li::before {
    right: -24px;
    transform: skew(30deg, 0deg);
    box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
    border-radius: 0 8px 0 0
}

.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul li::after {
    left: -24px;
    transform: skew(-30deg, 0deg);
    box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
    border-radius: 8px 0 0 0;
}

.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul li.active_tabs {
    background-color: #b8bdc1;
    color: #FFF;
    z-index: 4;
}

.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul li.active_tabs::before,
.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_header ul li.active_tabs::after {
    background-color: #b8bdc1;
    color: #FFF;
}



/* Body */
.course_planner_container .activity_list_tabs .activity_tabbed_round .tabs_body{
    height: calc(100vh - var(--topNavBarHeight) - 108px)
}

.tabs_body .activity_planner_inner_container {
    height: 100%;
    padding-top: 14px;
}