.pdf_show_only {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.pdf_show_only iframe {
  width: 100%;
  height: 100%;
}

.planner_pdf_container {
  height: calc(100vh - var(--topNavBarHeight)) !important;
}


/* Top Bar */
.planner_pdf_container .pdf_top_bar {
  background-color: gray;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  width: 100%;
}

.planner_pdf_container .pdf_top_bar .download_btn {
  background-color: transparent;
  color: white;
  border: none;
}

.planner_pdf_container .pdf_top_bar .download_btn {
  background-color: transparent;
  color: white;
  border: none;
}

.planner_pdf_container .pdf_top_bar .pdf_left_side button,
.planner_pdf_container .pdf_top_bar .pdf_right_side button {
  background-color: transparent;
  color: white;
  border: none;
}

/* Left Side */
.planner_pdf_container .pdf_body_container {
  height: calc(100vh - var(--topNavBarHeight) - 40px);
  overflow: hidden;
}

.planner_pdf_container .pdf_body_container .pdf_content_view iframe {
  width: 100%;
  height: 100%;
}

/* Right Side */
.planner_pdf_container .pdf_body_container .pdf_page_info .pdf_page_inner_container {
  height: 100%;
  background: #fff;
  border-radius: 3px;
  color: #4b4f56;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.pdf_page_inner_container .pdf_page_content {
  font-size: 14px;
  overflow: hidden;
  border-bottom: 1px solid rgb(146, 142, 142);
  line-height: 25px;
  margin-bottom: 5px;
  padding: 10px 0;
  height: 15%;
}

.pdf_page_inner_container .comment_result {
  max-height: 70%;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px
}

.pdf_page_inner_container .comment_result .comment_list,
.pdf_page_inner_container .comment_result .comment_list .reply_list {
  padding: 0;
  list-style: none;
}

/* Comment Box */
.comment_result .comment_list .comment_box {
  margin-top: 16px;
}
.comment_result .comment_box .comment_result {
  display: block;
  overflow: hidden;
  padding: 0;
}

.comment_result .comment_box .comment_result .comment_content {
  background-color: #f0f2f5;
  border-radius: 20px;
  padding: 12px;
}
.comment_result .comment_box .comment_result .comment_content h5 {
  font-weight: 600;
  white-space: nowrap;
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin: 0;
}

.comment_result .comment_box .comment_result .comment_content p {
  margin: 4px 0;
  text-align: left;
}

.comment_result .comment_box .comment_result .tools_comment {
  font-size: 12px;
  line-height: 1.358;
}
.comment_result .comment_box .comment_result .tools_comment .tool_btn {
  color: #4267b2;
  cursor: pointer;
  text-decoration: none;
}
.comment_result .comment_box .comment_result .tools_comment span {
  color: #90949c;
}




.pdf_page_inner_container .commendation_box {
  padding-top: 10px;
}

.pdf_page_inner_container .commendation_box .box_comment {
  display: block;
  border-radius: 20px;
  position: relative;
  line-height: 1.2;
  word-break: break-word;
  word-wrap: break-word;
  background: #f0f2f5;
  cursor: text;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  width: 100%;
}
.pdf_page_inner_container .commendation_box .box_comment .box_comment_inner {
  padding: 10px;
}
.pdf_page_inner_container .commendation_box .box_comment textarea {
  height: 60px;
  padding: 0 6px;
  border-radius: 15px;
  background-color: #f0f2f5;
  width: 100%;
  border: none;
  resize: none;
}

.pdf_page_inner_container .commendation_box .box_comment textarea:focus {
  outline: 0;
}


.pdf_page_inner_container .commendation_box .box_comment button {
  float: right;
  margin: 0 0 10px 10px;
  padding: 4px 8px;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.pdf_page_inner_container .commendation_box .box_comment button:hover {
  background-color: #29487d;
  border-color: #29487d;
}
