/* .module_info_wrapper {

}

.module_info_wrapper .class_info{
} */

/* Table */
.class_info .class_table {
    width: 100%;
}

.class_info .class_table thead {
    text-align: center;
}

.class_info .class_table .class_col {
    width: 17%;
}

.class_info .class_table .modality_col {
    width: 25%;
}

.class_info .class_table .grouping_col {
    width: 22%;
}

.class_info .class_table .availability_col {
    width: 21%;
}

.class_info .class_table .async_sync_col {
    width: 15%;
}

.class_info .class_table tbody tr {
    height: 75px;
    vertical-align: middle;
}