/* .detail_course {} */

.detail_course .left_side {
    flex: 0 0 auto;
    width: 12.666667%;
}

.detail_course .right_side {
    flex: 0 0 auto;
    width: 87.333333%;
}

.detail_course .left_side .sticky_sidebar {
    position: sticky;
    top: 100px;
    padding: 0px 12px 4.5rem 24px;
}

.detail_course .left_side .section_tabs {
    padding-left: 0;
}

.detail_course .left_side .section_tabs .section_item {
    height: 50px;
    display: block;
    align-items: center;
    list-style: none;
}

.detail_course .left_side .section_tabs .section_item a {
    text-decoration: none;
    border-radius: 0px;
    font-weight: bold;
    color: #2d3b45;
    padding-left: 4px;
    line-height: 1.3;
}

.detail_course .left_side .section_tabs .section_item.active a{
    border-left: 2px solid #2d3b45;
}

.detail_course .right_side .submit_btn {
    height: 100px;
}