#mainScreen {
  width: 100%;
  position: relative;
  background: #e4e9f7;
  padding-left: 170px;
}

#mainScreen.nav_is_closed {
  padding-left: 70px;
}

#mainScreen > *,
#mainScreen.nav_is_closed > * {
  width: 100%;
  height: 100%;
  position: relative;
}

/* ========== LOGIN PAGE ========== */
@import url("./components/Login/Login.css");

/* ========== REGISTER PAGE ========== */
@import url("./components/Register/Register.css");

/* ========== USER PAGE ========== */
@import url("./components/User/user.css");

/* ========== COURSES PAGE ========== */
@import url("./components/Course/coureseMainPage.css");

/* ========== DETAIL COURSE PAGE ========== */
/* ===LEFT SIDE=== */
@import url("./components/DetailCourse/DetailCourse.css");

/* ===RIGHT SIDE=== */
/* MODULE PAGE*/
@import url("./components/DetailCourse/ModuleComponent.css");
/* SETTINGS PAGE */
@import url("./components/DetailCourse/SettingComponent.css");



/* ========== MODULE PLANNER PAGE ========== */
@import url("./components/Planner/plannerPage.css");


/* Activity Planner Page */
@import url("./components/Planner/ModuleInfo/info.css");
@import url("./components/Planner/ActivityPlanner/ActivityPlanner.css");
@import url("./components/Planner/ActivityPlanner/ActivityWindow.css");

/* ========== COMPONENTS ========== */

/* Side navigation bar */
@import url("./components/SideBar/sideBar.css");

/* Avatar */
@import url("./components/Avatar/avatar.css");

/* Text Editor */
@import url("./components/TextEditor/TextEditor.css");

/* Tabs */
@import url("./components/Tabs/Tabs.css");

/* ========== DOWNLOADPDF ========== */
@import url("./components/DownloadPDF/DownloadPDF.css");
