/* Main Screen */
#main_screen {
    max-width: calc(100vw - 187px);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    
    position: relative;
    left: 170px;
    top: 70px;
    background: #E4E9F7;
}

#main_screen.nav_is_closed {
    max-width: calc(100vw - 87px);
    left: 70px;
}

#main_screen>*,
#main_screen.nav_is_closed>* {
    width: 100%;
    height: 100%;
    position: relative;
}



/* SIDE NAVIGATION MENU */
@import url('./components/SideBar/sideBar.css');



/* COURSES PAGE */
@import url('./components/Course/coureseMainPage.css');

/* ========== DETAIL COURSE PAGE ==========*/
/* ===LEFT SIDE=== */
@import url('./components/DetailCourse/DetailCourse.css');

/* ===RIGHT SIDE=== */
/* MODULE PAGE*/
@import url('./components/DetailCourse/ModuleComponent.css');


/* ========== COMPONENTS ========== */
@import url('./components/Avatar/avatar.css');

@import url('./components/TextEditor/TextEditor.css');