/* heading */
.home-heading {
  margin-left: 32px;
  padding: 25px 0;
  color: white;
}

/* cards */
.home-1 {
  background-color: #242256;
  height: 220px;
  margin-bottom: 30px;
}
.home-card {
  margin: 32px;
  border-radius: 4px;
  width: 100%;
  background-color: #f0effe;
  border: 1px solid white;
  box-shadow: 0px 4px 8px gray;
}
.home-card-title {
  padding: 10px 20px 0px 20px;
}

.home-detail-card {
  padding: 10px 20px;
}
.card-1 span {
  font-size: 22px;
  font-weight: bold;
}
.card-1 p {
  font-size: 12px;
}

/* pie charts */

.pie-detail {
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: 40%;
  height: 400px;
  border-radius: 12px;
}
/* home course */
.home-course {
  display: flex;
  /* align-items: center; */
  width: 100%;
}
.home-course-button {
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  background-color: pink;
}
.home-course h6 {
  font-size: 10px;
}
.home-course h5 {
  font-size: 14px;
}
.home-course-info {
  margin-bottom: 8px;
}
.list-courses {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 12px;
  width: 20%;
  height: 400px;
}
.home-img-course {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  margin-right: 8px;
}

.home-course img {
  width: 100%;
}
